body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    position: absolute;
    z-index: 0;
}

.full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    z-index: 1000;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 60px;
    z-index: 1000;
}

#water {
    background-image: linear-gradient(180deg, #5c0067 0%, #00d4ff 100%);
    display: none;
    box-shadow: 5px 5px 30px #888888;
}

#air {
    background-image: linear-gradient(180deg, #67001f 0%, #ff00ff 100%);
    display: none;
}

#earth {
    background-image: linear-gradient(180deg, #00673c 0%, #00ff88 100%);
    display: none;
}

#fire {
    background-image: linear-gradient(180deg, #670000 0%, #ff8800 100%);
    display: none;
}
